.animal-detail {
  max-width: 800px; 
  margin: 50px auto; 
  padding: 30px;
  border-radius: 12px;
  background: #fcfdfc; 
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1); 
  text-align: center;
  position: relative;
}

.animal-image {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
  border-radius: 50%; 
  border: 6px solid #ddd; 
  position: absolute;
  top: -80px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.animal-detail-content {
  padding-top: 100px; 
}

.animal-detail h2 {
  font-size: 36px; 
  color: #333; 
  margin-bottom: 20px;
}

.animal-detail p {
  font-size: 18px; 
  margin: 10px 0;
  text-align: left; 
}

.animal-detail p strong {
  font-weight: 600; 
  color: #555; 
}

.animal-detail p span {
  font-weight: 400; 
  color: #777; 
}

.back-button {
  background-color: #000000; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  margin-top: 20px; 
  transition: transform 0.3s ease; 
}

.back-button:hover {
  transform: scale(1.05); 
}
