.intro {
    margin-bottom: 50px;
    font-size: 1.8em; 
    text-align: center;
    color: #000;
  }
  
  .intro h1 {
    font-size: 3em; 
    margin-bottom: 20px; 
    color: #000;
  }
  
  .intro p {
    font-size: 1.5em; 
    color: #555;
    
  }
  
  .contact-options {
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  .contact-button {
    display: inline-block;
    padding: 10px 25px;
    background-color: #000;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5em;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  
  .contact-info, .contact-social, .contact-hours {
    margin: 20px 0;
    text-align: center;
  }
  
  .contact-info h2::before,
  .contact-social h2::before,
  .contact-hours h2::before {
    content: '🐾';
    display: inline-block;
    margin-right: 8px;
    color: #000;
  }
  
  .contact-info h2,
  .contact-social h2,
  .contact-hours h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #000;
    border-bottom: 2px solid #211f1f;
    padding-bottom: 8px;
  }
  
  .contact-info p, .contact-social a, .contact-hours p {
    font-size: 1.2em;
    color: #555;
  }
  
  .contact-info a, .contact-social a {
    color: #000;
    text-decoration: none;
  }
  
  .contact-info a:hover, .contact-social a:hover {
    text-decoration: underline;
  }
  
  .contact-social a {
    margin: 0 10px;
  }
  
  .contact-social a:hover {
    text-decoration: underline;
  }
  
  .contact-map {
    margin-top: 30px;
    text-align: center;
  }
  
  .contact-map iframe {
    border: 0;
    border-radius: 8px; 
  }
  .contact-social {
    margin: 20px 0;
    text-align: center;
}

.contact-social a {
    margin: 0 50px; 
    font-size: 3em; 
    color: #000; 
    text-decoration: none;
    display: inline-block;
}

.contact-social a:hover {
    color: #f46411; 
}
